html,
body {
    margin: 0;
}

html,
button {
    font-family: 'Courier New', Courier, monospace;
}

.drawing-canvas-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: 70vh;
    width: 100vw;
}

canvas#drawing {
    border: 1px solid lightgray;
}

canvas.scaling {
    border: 1px solid lightgray;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}

button.clear {
    position: absolute;
    top: 0;
    right: 0;
}

.chart-canvas-wrapper {
    border: 1px solid lightgray;
    position: relative;
    height: 30vh;
    width: 100vw;
}

.drawing-canvas-wrapper,
.chart-canvas-wrapper {
    max-width: 600px;
    margin: auto;
}